/* src/components/Header.css */
.header {
    position: relative;
    width: 100%;
    height: 100vh; /* Hauteur de 100% de la fenêtre */
    overflow: hidden;
}

.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Place la vidéo derrière le contenu */
}

.header-content {
    position: relative;
    z-index: 1; /* Assure que le contenu est devant la vidéo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff; /* Couleur du texte en blanc pour la visibilité */
}

.logo h1 {
    font-size: 2em;
    opacity: 1; /* Assurez-vous que l'opacité est définie */
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    font-size: 1em; /* Utilisez des unités relatives */
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease; /* Transition pour des animations lisses */
    border: 2px solid transparent;
    border-radius: 9px;
    background-color: #1D5A43;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: #daca3bff;
    border-color: #daca3bff; /* Bordure visible au survol ou au focus */
}

.navbar-item a {
    color: #fff;
    text-decoration: none;
}

.navbar-item.active {
    background-color: #333;
    color: #fff;
    border-color: #daca3b;
}

.navbar-item:hover,
.navbar-item:focus {
  color: #daca3b;
  border-color: #daca3b;
}

.connectify-text {
    position: absolute;
    width: 100%;
    top: 21vw; /* Ajuste la position verticale */
    transform: translateY(-50%); /* Centre verticalement */
    font-family: 'Chicle', cursive; /* Assurez-vous d'importer la police */
    font-size: 15vw; /* Utilisez des unités relatives pour la taille du texte */
    line-height: 1;
    text-align: center;
    color: #DACA3BBA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

/* Media queries pour des ajustements spécifiques aux différentes tailles d'écran */
@media (max-width: 700px) {
    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .connectify-text {
        font-size: 15vw; /* Ajuste la taille du texte pour les écrans plus petits */
    }
}
